
.container {
  width:100%;
  margin: 0 auto;
}

.headercontainer {
  text-align: center;
  margin: 0 auto:

}

.desktopNav {
  display: none;
  width: 100%;
  margin: 0 auto;
}

header nav ul li {
  float:none;
  display: block;
  margin: 0 auto;
}


.desktopNav ul li a {
  transition: all .5s ease-in-out;
  display: block;
}

.desktopNav ul li a:hover {
  transform: scale(1.1);
}

.mobileMenu {
  display:inline-block;
  text-align: center;

}

.mobileMenu span {
  display: block;
  text-align: center;
  width: 20px;
  height: 3px;
  margin: 4px 0;
  background: #E8E8E7;
}

#mobileNav {
  width: 100%;
  position:inherit;
  display: none;
  box-shadow: 0 0 5px black;
  font-size: 40px;
}

#landing {
  background-size: 80% auto;
}


#follow_us {
  display: none;
}

.one-forth {
  width:50%;
}
