
.container {
  width:100%;
  margin: 0 auto;
}


.desktopNav ul li a {
  display: none;
  margin: auto;
}

.mobileMenu {
  display:inline-block;
  text-align: center;
  width:100%;
}

#mobileNav {
  width: 100%;
  position:inherit;
  display: none;
  box-shadow: 0 0 5px black;
  font-size: 40px;
}

#landing {
  background-size: 80% auto;
}

#follow_us {
  display: none;
}

.one-forth {
  width:50%;
}
