
.container {
  width:100%;
  margin: 0 auto;
}


.desktopNav ul li a {
  display: none;
  margin: auto;
}

.desktopNav .mobileMenu {
  display:inline-block;
  width:100%;
}

#mobileNav {
  position:absolute;
  display: none;
  font-size: 40px;
}

#follow_us {
  display: none;
}

.one-forth {
  width:50%;
}
