/* style.css */

/* setup */
* {
  box-sizing: border-box;
}

/* clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}

.clear {
  clear:both;
}

.alignleft {
  float: left;
}

.alightright {
  float: right;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* lyout */
.container {
  width: 960px;
  margin: 0 auto;
}

body {
  color: ;
  background: #27EEFF;
  font-family:;
  font-size:;
  font-weight:;
  line-height:;
}

/******************************************
/* LAYOUT
/*******************************************/

header {
  padding: 25px 0;
  overflow:hidden;
  background:#B8ccc8;
}

header nav {
  float: right;
  margin-top: 15px;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size:;
}

header nav ul li a {
  color:;
}

#main {

}

#landing {
  display: inline-block;
  vertical-align: top;
}

#story {
  display: inline-block;
  vertical-align: top;
}

#products {
  display: inline-block;
  vertical-align: top;
}

#follow_us {
  display: inline-block;
  vertical-align: top;
}

#contact {

}

.button {
  border-radius: 5px;
  font-weight:;
  padding:12px 0;
  width: 280px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

footer {
  background:#3D3B35;
  padding: 65px 0 45px;
  text-align: center;
}

footer ul li{
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}

.hide {
  display: none;
}
